:local {
  .home {
    background: #1b1b1b;
    height: 100vh;
    position: relative;

    .container {
      padding-top: 30%;
      text-align: center;

      button {
        cursor: pointer;
      }
    }
  }
}
